# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
env/
venv/
ENV/

# Django
media/
staticfiles/

# VSCode
.vscode/

# Environment Variables
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

/rate-limit-flow/