Django==6.0.5
djangorestframework==3.15.2

psycopg2-binary==2.9.9

python-dotenv==1.0.1

django-cors-headers==4.4.0

djangorestframework-simplejwt==5.3.1

celery==5.4.0
redis==5.0.8

pytest==8.3.3
pytest-django==4.9.0

gunicorn==23.0.0

psycopg2-binary==2.9.9

mssql-django==1.5
pyodbc==5.1.0

drf-spectacular
drf-spectacular-sidecar